<div> create new property</div>
<form action="/property" method="post">
<input type="text" name="name" placeholder="name">
<input type="text" name="cost" placeholder="cost">
<input type="text" name="place" placeholder="place">
<input type="submit">
</form>
<button><a href="/property">back</a></button>