<h1>properties</h1>

<% results["rows"].forEach(function(property){ %>
    <li><%=property.name %> <a href="/property/<%= property.id %>">read more</a></li>
<% }) %>

<h1>Create a new property</h1>
<button><a href="/sell">create new</a></button>
