<div> rent details</div>
<form action="/rentdetails" method="post">
<input type="text" name="person" placeholder="person">
<input type="text" name="duration" placeholder="duration">
<input type="submit">
</form>

<button><a href="/property/<%=propertyid%>">back</a></button>